@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Kanit&family=Roboto:wght@400;500;700&display=swap');
* {
  font-family: 'Kanit', sans-serif;
}
body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('background5.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  display: flex;
}

.sidebar {
  width: 240px;
  margin-top: 66px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 8px;
  margin-left: 16px;
  padding-bottom: 16px;
}
.datetime-display {
  font-family: 'DM Serif Text', serif;
  font-size: 16px;
  color: rgb(11, 87, 11);
  text-align: center;
  margin: 7px 0;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  font-weight: 590;
  letter-spacing: 1px;
}
.buttons {
  width: 86%;
  padding: 12px;
  margin: 10px 0;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.buttons:hover {
  transform: scale(1.03);
}
.buttons:active {
  background-color: #107526;
}
.main-content {
  padding: 20px;
  width: 100%;
}
hr {
  border: 1px solid #2b2a2a;
  margin: 10px 0 20px;
}

#mess-section {
  margin-top: 20px;
}

.status-text {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}

.main-content {
  display: flex;
  flex-direction: row;
  padding: 20px;
  /* margin-left: 220px; */
  flex-grow: 1;
  padding-top: 70px;
  justify-content: center;
}

.student-info {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 60%;
  max-width: 500px;
  /* height: 550px; */
  margin-right: 20px;
}

.student-info h2 {
  text-align: center;
  color: #343a40;
  margin-bottom: 15px;
}

.student-info p {
  color: #495057;
  margin: 5px 0;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.student-info .label {
  text-align: left;
  font-weight: bold;
}

.student-info .data {
  text-align: right;
  font-weight: normal;
}

footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
}

.footer-content p {
  margin: 5px 0;
}

.btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.submit-btn {
  background-color: #28a745;
  border: none;
  color: white;
  height: 40px;
  border-radius: 5px;
  width: auto;
  cursor: pointer;
  font-size: 20px;
}

.submit-btn:hover {
  transform: scale(1.03);
}
.submit-btn:active {
  background-color: #107526;
}
.canteen-option {
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
}
