@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Kanit&family=Roboto:wght@400;500;700&display=swap");
* {
  font-family: "Kanit", sans-serif;
}
body {
  background: url("background5.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  display: flex;
}

.sidebar {
  width: 240px;
  margin-top: 66px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 8px;
  margin-left: 16px;
  padding-bottom: 16px;
}
.datetime-display {
  font-family: "DM Serif Text", serif;
  font-size: 16px;
  color: rgb(11, 87, 11);
  text-align: center; 
  margin: 7px 0;
  padding: 10px;
  width: 80%;
  border-radius: 5px; 
  font-weight: 590;
  letter-spacing: 1px;
}
.buttons {
  width: 86%;
  padding: 12px;
  margin: 10px 0;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.buttons:hover {
  transform: scale(1.03);
}
.buttons:active {
  background-color: #107526;
}
.main-content {
  padding: 20px;
  width: 100%;
}
hr {
  border: 1px solid #2b2a2a;
  margin: 10px 0 20px;
}
.student-details-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 50px;
}
.column {
  flex: 1;
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.column p {
  margin: 8px 0;
  font-size: 16px;
}
.photo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.student-image {
  height: 160px;
  width: auto;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
}

.footer-content p {
  margin: 5px 0;
}

.each-text {
  display: flex;
  justify-content: space-between;
}

.label {
  font-weight: 600;
  margin-right: 1px;
}

.value {
  font-weight: 500;
}

.profile-heading {
  text-align: left;
  font-weight: 700;
  color: rgb(67, 67, 65);
  font-family: "Kanit", sans-serif;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
  font-size: 2.3em;
  margin-left: 10px;
}

.student-details-container hr {
  border: 0;
  height: 2px;
  background-color: #3c5685;
  margin: 10px 0;
}
