body {
  font-family: "Kanit", sans-serif;
  background-color: #d3c5e5;
}

.buttons {
  border-radius: 6px;
  border: none;
  height: 40px;
  background-color: #735da5;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  color: #d3c5e5;
  font-size: 17px;
}

.buttons:hover {
  background: #8a79b0;
}

.buttons:active {
  background: #6a44bc;
}

header {
  height: 50px;
  width: auto;
  background: #735da5;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d3c5e5;
}

.navbar-dark-section {
  position: absolute;
  left: 0;
  width: 220px;
  height: 100%;
  background-color: #443861;
}

.abcd {
  display: flex;
  width: 100%;
  background-color: #d3c5e5; /* Same as navbar background color */
  justify-content: space-between;
}

.dashboard button {
  margin: 10px 0;
  width: 80%;
  background-color: #d3c5e5;
  color: #d3c5e5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #735da5;
}

.dashboard button:hover {
  background-color: #b4a0e5;
}

.dashboard button:active {
  background: #6a44bc;
  color: white;
}

.dashboard {
  width: 220px; /* Updated width */
  height: 93.5vh; /* Full height of the screen */
  background-color: #443861;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 84%;
}

.table {
  max-width: 100%;
  overflow-x: auto; /* Allows horizontal scrolling if necessary */
}

th,
td {
  text-align: center;
}

/* Set the widths for each column */
th:nth-child(1),
td:nth-child(1) {
  width: 15%; /* Room Number */
}

th:nth-child(2),
td:nth-child(2) {
  width: 5%; /* Floor */
}

th:nth-child(3),
td:nth-child(3) {
  width: 30%; /* Student 1 Name */
}

th:nth-child(4),
td:nth-child(4) {
  width: 10%; /* Accessories Button for Student 1 */
}

th:nth-child(5),
td:nth-child(5) {
  width: 30%; /* Student 2 Name */
}

th:nth-child(6),
td:nth-child(6) {
  width: 10%; /* Accessories Button for Student 2 */
}
